.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 2.5rem;
    border-top: 1px solid #F3F5F9;;
    padding: 1.4rem;
    /* position: absolute;
    left: 0; */
    width: 100%;
    
}
.icons li svg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.active{
    color: rgb(210, 63, 87);
    transition: color 0.2s linear;
}
.icons li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
    font-size: 0.8rem;
    cursor: pointer;
}
@media only screen and (max-width: 1200px){
    .icons{
        overflow-x: scroll;
        justify-content: flex-start;
    }
}