
.bottom-nav{
    position: relative;
}
.bottom-nav .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 1.4rem;
}
.bottom-nav form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom-nav form input{
    width: 450px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    border: none;
    border: 1px solid #333;
}
.bottom-nav form input:placeholder-shown{
    text-transform: capitalize;
    padding-left: 1rem;
    border: 1px solid #ddd;
}
.bottom-nav form .category{
    height: 40px;
    text-transform: capitalize;
    background-color: #F6F9FC;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 1.4rem;
    border-color: #ddd;
    outline: none;
    border: 1px solid #ddd;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 190px;
}
.bottom-nav .links form  .category .select{
    position: relative;
    color: #4B566B;
}
.bottom-nav .links form .category .option{
    position: absolute;
    top: 40px;
    right: 70px;
    text-transform: capitalize;
    width: 120px;
    box-shadow: 0 3px 10px rgb(0 0 0 /0.2);
    font-size: 0.8rem;
    color: rgb(43, 52, 69);
    background-color: #FFF;
    z-index: 99;
}
.bottom-nav .links form .category svg{
    margin-left: 1.4rem;
}

.bottom-nav .links form .category .option li{
    text-align: left;
    padding: 0.5rem;
    
}
.bottom-nav .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-right: 0.2rem;
}
.bottom-nav button{
    background-color: transparent;
    border: none;
    outline: none;
}

.bottom-nav .icons .search-icon{
    display: none;
}
.close{
    display: none;
}
.cart{
    position: relative;
    cursor: pointer;
}
.user{
    cursor: pointer;
}
.cart span{
    position: absolute;
    top: -15px;
    right: -10px;
    color:  rgb(210, 63, 87);
    font-weight: bold;
    font-size: 16px;
}
.search-form {
    position: relative;
}
@media only screen and (max-width: 900px){
    .bottom-nav form input{
        width: 100%
    }
    .bottom-nav form .category{
        padding: 0;
    }
    .bottom-nav .icons .search-icon{
        display: block;
    }
    .bottom-nav .sform{
        position: absolute;
        /* padding-top: 10rem; */
        transition: all 0.5s ease-in-out;
        /* align-items: start;
        justify-content: flex-start; */
        background-color: #FFF;
        height: 0;
        /* height: 100vh; */
        width: 100%;
        left: 0;
        background-color: red;
        bottom: 3px;
        /* z-index: 999;
        left: 0; */
    }
    .bottom-nav .form{
        /* top: -73px;
        display: inline-flex;
        transition: all 0.5s linear;
        height: 100vh; */
        transition: all 5s linear;
    }
    /* .bottom-nav .formvisible{
        position: absolute;
        top: -4200px;
        left: 0;
        display: none;
        transition: all 0.5s linear;
        height: 0;
    }
    */
    .close{
        position: absolute;
        right: 20px;
        top: 50px;
        display: block;
    }
}
/* @media only screen and (max-width: 450px){
    
} */